{% extends "::layout.html.twig" %}

{% block body %}
<div class="row centerbloc">
	<div class="span8 offset2">
	<h2 class="centertext">Ajouter un utilisateur</h1>
		<form class="adduser" action="{{ path('ad_add_user') }}" method="post" {{ form_enctype(form) }}>
			{% if errors is defined %}
				{% for error in errors %}
				<p class="error">
				{{ error.message }}
				</p>
				{% endfor %}
			{% endif %}
			{{ form_rest(form) }}
		</form>
	</div>
</div>
{% endblock %}
