{% extends "::layout.html.twig" %}

{% block body %}



<p>Salut {{ user.username }}</p>
<ul>
	<li><a href="{{ path('ad_manage_category') }}">Manage catégory</a></li>
	<li><a href="{{ path('ad_add_file') }}">Uploader un fichier</a></li>
</ul>



{% endblock %}