{% extends "::layout.html.twig" %}

{% block body %}
<div class="row centerbloc">
	<div class="span8 offset2 well centertext">
	<h2>Enregistrer une nouvelle catégorie</h1>
		<form action="{{ path('ad_add_file') }}" method="post" {{ form_enctype(form) }}>
			{{ form(form) }}
		</form>
	</div>
</div>
{% endblock %}
